{% extends 'base.html.twig' %}

{% block title %}View Note{% endblock %}

{% block body %}
    <h1 class="mb-3">Note Details</h1>

    <div class="card p-4 shadow-sm">
        <h3 class="mb-2">{{ formattedNote|split('---')[0]|nl2br }}</h3>
        <hr>
        <p>{{ formattedNote|split('---')[1]|nl2br }}</p>
    </div>

    <a href="{{ path('note_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
